@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ESTUDAR SOBRE display=swap */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.content{
  border-radius: 15px;
  background-color: #fff;
  width: 960px;
  height: 70%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before{    /* ESTUDAR BEFORE NO CSS */
  content: "";
  position: absolute;
  background-color: rgb(19, 164, 157);
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;


  left: 0;
}

.first-content{
  display: flex;
  
}

.first-content .second-column{
  z-index: 12;  
}

.first-column{
  text-align: center;
  /*flex: 1 0 auto; /* ESTUDAR ESTA PROPRIEDADE */
  width: 40%;
  z-index: 10;
}

.title{
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.title-welcome{  
  color: white;
}

.description{
  font-size: 14px;
  font-weight: 300;  
  line-height: 10px;
}

.description-primary{
  color: #fff;
}
.description-second{
  color: rgb(19, 164, 157);
}

.btn{
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border:none;
}

.btn-primary{
  background-color: transparent;
  border: 1px solid white;
  transition: background-color .5s;
}

.btn-primary:hover{
  background-color: #fff;
  color: rgb(19, 164, 157);
}

.second-column{
  /*flex: 2 0 auto; /* ESTUDAR ESTA PROPRIEDADE */
  width: 60%;
  display: flex;
  flex-direction: column; /* ESTUDAR ESTA PROPRIEDADE */
  align-items: center;
}

.title-second{
  color: rgb(19, 164, 157);
}

.social-media{
  margin: 1rem 0;
}

.list-social-media{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item-social-media{
  border: 1px solid rgb(19, 164, 157);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  color: rgb(19, 164, 157);
}

.link-social-media:not(:first-child){
  margin-left: 10px;
}

.link-social-media .item-social-media{
  transition: background-color .5s;
}

.link-social-media .item-social-media:hover{
  background-color: rgb(19, 164, 157);
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  width: 55%; 
  text-align: center;
}

.form input{
  height: 45px;
  border: none;
  background-color: #ccf0f1; 
  width: 100%;
}



.label-input{
  background-color: #ccf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}

.icon-modify{
  color: #7f8c8d;
  padding: 0 5px;
}

.btn-second{
  background-color:  rgb(19, 164, 157);
  border: 1px solid  rgb(19, 164, 157);
  transition: background-color 0.5s;
}

.btn-second:hover{
  background-color: white;
  border: 1px solid rgb(19, 164, 157);
  color: rgb(19, 164, 157);
}


/* SECOND-CONTENT */

.second-content{
  position: absolute;
  display: flex;
}

.second-content .first-column{
  order: 2;
  z-index: -1;
}

.second-content .second-column{
  order: 1;
  z-index: -1;
}

.password{
  color: #7f8c8d;
  font-size: 14px;
  margin: 15px 0;
}

.password::first-letter{
  text-transform: capitalize;
}


.sign-in-js .first-content .first-column{
  z-index: -1;
}


.sign-in-js .second-content .second-column{
  z-index: 11;
}

.sign-in-js .second-content .first-column{
  z-index: 13;
}

.sign-in-js .content::before{
  left: 60%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  animation: slidein 2.4s;
  z-index: 12;
}

.sign-up-js .content::before{
  animation: slideout 3s;
  z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
  z-index: -1;
}

.sign-up-js .first-content .second-column{
  z-index: 11;
}

.sign-up-js .first-content .first-column{
  z-index: 13;
}

/* ANIMAÇÃO ATRÁS DOS ELEMENTOS */

.sign-in-js .first-content .second-column{
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 3s;
}

.sign-up-js .second-content .second-column{
  position: relative;
  z-index: -1;
  animation: deslocamentoDir 4s;
}

@keyframes deslocamentoEsq{
  from{
    left: 0;
    opacity: 1;
    z-index: 12;
  }
  25%{
    left: -100px;
    opacity: .5;
  }
  50%{
    left: -105px;
    opacity: 0;
  }

  to{
    left: -110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoDir{
  from{
    left: 0;
    z-index: 12;
    opacity: .5;
  }

  25%{
    left: 80px;
    opacity: 0;
  }

  50%{
    left: 100px;
    opacity: 0;
  }

  to{
    left: 110px;
    z-index: -1;
    opacity: 0;
  }
}


/* ANIMAÇÃO CSS */

@keyframes slidein{

  from{ /* de onde vai sair */
    left: 0%;
    width: 40%;
  }

  25%{
    left: 30%;
    width: 55%;
  }
  50%{
    left: 55%;
    width: 35%;
  }

  to{ /* para, é o final */
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout{

  from{ /* de onde vai sair */
    left: 60%;
    width: 40%;
   
  }

  25%{
    left: 30%;
    width: 55%;    
  }
  50%{
    left: 18%;
    width: 30%;
  }

  to{ /* para, é o final */
    left: 0%;
    width: 40%;
  }
}